.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100rem; 
    max-height: 100%;
    overflow: auto;
}

#comment-modal{
    font-family: "DM Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.874);
    animation-duration: 0.5s;
    overflow-x: hidden;
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
}

.comment-modal-items{
    width: 350px;
    min-height: 350px;
    margin: auto;
    margin-top: 25vh;
    padding: 30px;
    background-color: transparent;
    border: 1px solid transparent;
    position: relative;
    transition: opacity 1s;
    
}

.comment-modal-close{
    position: relative;
    float: right;
    bottom: 30px;
    color: white;
    font-size: 28px;
    font-weight:bolder;
}

.comment-modal-close:hover,
.comment-modal-close:focus {
    text-decoration: none;
    cursor: pointer;
}

.comment-modal-comment{
    font-family: "DM Sans", sans-serif;
    border-radius: 5px;
    font-size: large;
    background-color: white;
    border-radius: 25px;
    border: 1px solid white; 
    margin-top: 10px;
    height: 275px;
    min-height: 275px;
    max-height: 275px;
    width: 250px;
    padding: 20px;
    padding-top: 5px;
}
/* 
@media(min-width:500px){

} */