.nav-icon-main-fieldset{
    border: 0;
    border-top: 1px solid gray;
}

#nav-icon-main{
    margin-top: 10px;
}

h1{
    display: none;
    margin-top: 0;
    color: var(--header-color);
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    font-size: x-large;
}

.ip-fieldset{
    border: 1px solid gray;
    border-radius: 2px;
    text-align: left;
}

legend{
    color: whitesmoke;
}

.item-details input, .header input{
    all: unset;
    box-sizing: border-box;
    height: 50px;
    color: grey;
    font-size: large;
    text-align: left;
    padding-left: 10px;
    margin: 1px;
    border-bottom: 1px solid gold;
    background-color: none;
    border-radius: 2px;
    transition: border-color 0.5s;
}


input:focus{
    border-color: white;
    color: white;
  }

.header__name{
    display: flex;
}

.header__name input{
    width: 100%;
}

#trade{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    font-size: large;
    text-align: left;
    padding-left: 10px;
    margin: 1px;
}

#date{
    box-sizing: border-box;
    height: 50px;
    color: gray;
    font-size: large;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    margin: 1px;
    border-radius: 2px;
    border-bottom: 2px solid trans;
    background-color: none;
}

#scan-reorder-comment button{
    all: unset;
}

#scan-reorder-comment{
    width: 150px;
    margin: auto;
}

#scan, #reorder, #comment, #view-added-parts{
    margin: 0 5px;
    transition: background-color 0.5s, border 0.5s, border-radius 0.5s;
}

#scan:hover, #reorder:hover, #comment:hover, #view-added-parts:hover{
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    cursor: pointer;
}

#scan-btn:focus, #reorder-btn:focus, #comment-btn:focus, #view-added-parts-btn:focus{
    all: unset;
}

.section1 input, .section2 input{
    border-right: 1px solid gray;
    width: 100%;
}


#part-and-description{
    display: flex;
}

#part-code{
    width: 25%;
}

#description{
    width: 75%;
}


#part-qtys{
    display: flex;
    flex-direction: row;
}

#quantity, #unit, #reorder-amt{
    width: 1fr;
}

#reorder-amt{
    border-right: 0;
}

.section2{
    display: flex;
    flex-direction: row;
}

#reorder-content{
    height: 10px;
    margin-bottom: 15px;
}

#reorder-chkbx{
    height: 10px;
}

.submit-btn, .clear-btn, .add-btn{
    all: unset;
    min-width: 75px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: "DM Sans", sans-serif;
    font-size: small;
    background-color: transparent;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    padding: 5px;
    color: var(--form-btn-text-color);
    transition: border-color 1s, color 1s;
}

.submit-btn:focus, .submit-btn:hover, .clear-btn:focus, .clear-btn:hover,
.add-btn:focus, .add-btn:hover{   
    cursor: pointer;
    border-color: gold;
}

@media(max-width: 750px) {

    .section1 input, .section2 input{
        width: 100%;
    }
}