#root{
    background-color: black;
}

.inventory-list{
    width: 100%;
    min-width: 360px;
    max-width: 360px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    color: rgba(128, 128, 128, 0.155)
}

/* .last-list-item{
    margin-bottom: 40px;
} */

/* .inventory-list-active{
    background-color: rgba(255, 255, 255, 0.027);
} */

textarea{
    outline: none;
}

input{
    outline: none;
}

.inventory-pag-div{
    margin-bottom: 50px;
    margin-top: 5px;
}

.inventory-update-type:hover{
    cursor: pointer;
}

.inventory-switch-view:hover{
    cursor: pointer;
}

.inventory-desktop-tablet-content{
    height: 80%;   
    /* height: 70% */
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar{display: none}
}

.custom-content-form-modal .stor-input:focus{
    border-color: white;
}

@media(max-height: 280px){
    .inventory-desktop-tablet-content{
        height: 50%;
    } 
}

@media(max-height: 200px){
    .inventory-desktop-tablet-content{
        display: none;
    } 
}

@media(max-width: 899px){

    #stor-logo-header-logo{
        display: none;
    }

    .inventory-list{
        max-width: none;
        max-height: none;
        width: 100vw;
    }

    .inventory-pagination{
        padding-left: 20px;
    }

    .inventory-desktop-tablet-content{
        display: none;
    }
}