#root{
    background-color: black;
}

.inventory-list{
    width: 100%;
    min-width: 360px;
    max-width: 360px;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    color: rgba(128, 128, 128, 0.155)
}

@supports (scrollbar-color: auto) {
  .inventory-list {
    /* scrollbar-color: rgb(22, 22, 22) black; */
    scrollbar-color: rgb(43, 43, 43) black;
  }
}

@supports selector(::-webkit-scrollbar) {
  /* .inventory-list::-webkit-scrollbar {
    /background: rgb(22, 22, 22);
  } */
  .inventory-list::-webkit-scrollbar-track {
    background: black;
  }
  .inventory-list::-webkit-scrollbar-thumb {
    /* background: black; */
    background: rgb(43, 43, 43)
  }
}

textarea{
    outline: none;
}

input{
    outline: none;
}

.inventory-pag-div{
    margin-bottom: 50px;
    margin-top: 5px;
}


.inventory-update-type:hover{
    cursor: pointer;
}

.inventory-copy-details:hover,
.inventory-switch-view:hover, 
.inventory-ai-content:hover{
    cursor: pointer;
}

.inventory-desktop-tablet-content{
    height: 80%;   
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar{display: none}
}

.custom-content-form-modal .stor-input:focus{
    border-color: white;
}

.modal-btn:hover{
    cursor: pointer;
}

@media(max-height: 280px){
    .inventory-desktop-tablet-content{
        height: 50%;
    } 
}

@media(max-height: 200px){
    .inventory-desktop-tablet-content{
        display: none;
    } 
}

@media(max-width: 899px){

    #stor-logo-header-logo{
        display: none;
    }

    .inventory-list{
        max-width: none;
        max-height: none;
        width: 100vw;
    }

    .inventory-pagination{
        padding-left: 20px;
    }

    .inventory-desktop-tablet-content{
        display: none;
    }

    .not-shown-on-mobile{
        display: none;
    }
}