.login-fieldset{
    border: 1px solid gray;
    border-radius: 2px;
    text-align: left;
}

legend{
    color: whitesmoke;
}

.user-pass{
    display: inline;
}

#user{
    display: inline;
    width: 49.5%;
}

#password{
    display: inline;
    width: 49.5%;
}

#login-submit-btn, #login-clear-btn{
    all: unset;
    width: 75px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: "DM Sans", sans-serif;
    font-size: small;
    background-color: transparent;
    padding: 5px;
    color: var(--form-btn-text-color);
}

#login-submit-btn:focus,
#login-clear-btn:focus{   
    background-color: rgba(255, 255, 255, 0.055);
}

#login-submit-btn:hover,
#login-clear-btn:hover{   
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.055);
}

@media(max-width: 750px) {
    #user{
        width: 100%;
    }
    
    #password{
        width: 100%;
    }
}