.login-fieldset{
    border: 1px solid gray;
    border-radius: 5px;
    text-align: left;
}

legend{
    color: whitesmoke;
}

.user-pass{
    width: 300px;
    margin: auto;
}

#user, #email, #password, #employeeId, #institution{
    width: 100%;
}

#login-submit-btn, #login-clear-btn, #login-visitor-btn, #login-scan-btn{
    all: unset;
    width: 75px;
    margin: 'auto';
    margin-top: 20px;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: small;
    background-color: transparent;
    padding: 5px;
    color: var(--form-btn-text-color);
    text-align: center;
}

#login-register-btn, #login-login-btn{
    all: unset;
    width: fit-content;
    margin: 'auto';
    margin-top: 20px;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    background-color: transparent;
    padding: 5px;
    color: var(--form-btn-text-color);
    text-align: center;
}

#login-submit-btn, #login-clear-btn, #login-visitor-btn{
    display: inline;
}

#login-submit-btn:focus,
#login-clear-btn:focus, 
#login-visitor-btn:focus,
#login-scan-btn:focus,
#login-register-btn:focus, 
#login-login-btn:focus{   
    background-color: rgba(255, 255, 255, 0.055);
}

#login-submit-btn:hover,
#login-clear-btn:hover, 
#login-visitor-btn:hover,
#login-scan-btn:hover,
#login-register-btn:hover,
#login-login-btn:hover{   
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.055);
}

#lgn-main ::placeholder{
    color: gray
}

/*------ Background Image ------*/

#lgn-main{
    position: relative;
    z-index: 1;
}

#lgn-main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://imagedelivery.net/hvBzZjzDepIfNAvBsmlTgA/7c5b40aa-3cc7-4c8e-ade7-da69dd06e000/public') no-repeat center/contain;
    opacity: 0.15;
    z-index: -1;
}
