.nav-bar{
    width: 700px;
}

#menu-icon-btn{
    display: flex;
    background: url("/icons8-round-menu.svg") no-repeat center;
    background-size: 30px; 
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: transparent;
}

#menu-icon-btn:hover, #menu-icon:focus{
    background-color: rgba(27, 27, 27, 0.841);
    border-color: gold;
    cursor: pointer;
}

#menu-icon{
    border: 1px solid transparent;
    border-radius: 3px;
}

.nav-icon-container{
    border-top: 3px solid gray;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 0;
}

.nav-icon-main-fieldset{
    border: 0;
    border-top: 1px solid gray;
}

#nav-icon-main{
    margin-top: 10px;
}


@media (max-width: 750px){
    .nav-bar{
        width: 85vw;
        margin: auto;
    }

}