
:root{
  background-color: #242424 !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --stor-gold: linear-gradient(to right, #bf953f, #b38728, #aa771c);  
  --stor-link: #747bff;
}

.stor-link{
  color: #747bff;
}
 
.stor-input{
  all: unset;
  box-sizing: border-box;
  height: 50px;
  color: grey;
  font-size: large;
  text-align: left;
  padding-left: 10px;
  margin: 1px;
  border: 1px solid rgb(30, 30, 30);
  background-color: none;
  border-radius: 2px;
  transition: border-color 0.5s;
}

.stor-input:hover, .stor-input:focus{
  color: white
}

.stor-input:focus{
  border-color: gold;
}
